.App{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}

.App h1{
    margin-bottom: 30px;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.todo{
    width:10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.completed{
    text-decoration: line-through;
    color: rgb(240, 8, 8);
}

input{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 3px;
    outline: none;
    width: 200px;
}

input:focus{
    border:3px solid rgba(196, 32, 196, 0.4) ;
}

.formcontrol{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    margin-bottom: 20px;
}

.button{
padding: 6px 7px;
border: none;
color: #fff;
background-color: rgb(223, 46, 208);
border-radius: 5px;
}

.button-2{
    padding: 7px 8px;
    border: 2px solid rgba(70, 196, 32, 0.4);
    background-color: #fff;
    border-radius: 5px;
}
.button-3{
    padding: 7px 8px;
border: 2px solid rgba(235, 15, 15, 0.4);
background-color: #fff;
border-radius: 5px;
}

.text{
transform: uppercase;
font-size: 20px;
font-weight: 600;
color: rgb(5, 5, 126);
}